.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }

  @font-face {
    font-family:  Dell Replica TT;
    src: url(/fonts/DellReplicaTT-Regular.ttf);
    src: url(/fonts/DellReplicaTT-Italic.ttf);
    src: url(/fonts/DellReplicaTT-Bold.ttf);
    src: url(/fonts/DellReplicaTT-BoldItalic.ttf);
  }